#
# This is the configuration file for the Parcel Guard Firmware Update
# Script. This contains the ftp server information and the ota files.
#

# Ip Address of the FTP server.
serverip="192.168.0.164"

# FTP server credentials.
ftpuser="pg"
ftppwd="1234"

# Sets the target firmware version which the PCB will be upgraded to.
fw_ver="3.3.3"

# Name of the ota firmware update pack.
ota_files="ota_pack_"$fw_ver".tar"

# Setting to enable firmware version check. This ensures only later
# versions are only pushed to the board.
# Set to 0 to disable or 1 to enable.
allow_any_fw="1"

# Flag to enable check for compatible firmware version. Note: check function
# only checks for 3.0.1 and 3.1.2. If other versions are desired they need to
# be added to if condition on line 58 of Host_Upgrade.sh.
# set to 0 to disable or 1 to enable.
compatible_ver_flag="1"
